* {
	font-family: Arial;
}


header{
	height: auto;
	width: auto;
	background-color: black;
	
	/*background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center;
 */
}

header img{
	max-width: 100%;
  	height: auto;
}

.title{
	width: 100%;
	height: auto;
}

.title h1{
	text-align: center;
	font-style: italic;
}

.imgRuimte{
	background-color: black;
}

.imgRuimte img{
	max-width: 100%;
  	height: auto;
}

.rechthoek1 {
	background-color: black;
	width: auto;
	height: 30%;
}

.rechthoek1 h2{
	text-align: center;
	font-style: italic;
	color: white;
	padding-top: 5%;
}

.dashboard{
	  display: grid;
  grid-template-columns: 1fr;
}

.datavisual1, .datavisual2, .datavisual3{
	padding: 10%;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	margin: 5%;
}

/* end small */

/* begin medium */



/* einde medium */

/* begin large */

/* einde klein scherm */

/*begin groot scherm */

@media only screen and (min-width: 1000px){
	header img{
		
		max-width: auto;
  		height: auto;
  		padding-left: 37%;
  		grid-column: 1;
	}

	.rechthoek1{
		padding-top: 0%;
	}

	.dashboard{
		display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
	}


}
