@media only screen and (min-width: 1000px){
	header img{
		
		max-width: auto;
  		height: auto;
  		padding-left: 37%;
  		grid-column: 1;
	}

	.rechthoek1{
		padding-top: 0%;
	}

	.dashboard{
		display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
	}


}
